
	
    <div class="wrapper">
        <!-- <div id="loader"></div> -->
          
        <header class="main-header">
      <app-header></app-header>
        </header>
        
        <aside class="main-sidebar">
          <!-- sidebar-->
        <app-sidebar></app-sidebar>
    

        </aside>
        <div class="content-wrapper">
          <div class="container-full">
            <!-- Content Header (Page header) -->	  
          
          
       
  <!-- /.content-wrapper -->
  
               <router-outlet></router-outlet>		


              </div>
            </div>

      
        <!-- Control Sidebar -->
     
        <!-- /.control-sidebar -->
     
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
        
      </div>
      <!-- ./wrapper -->
          
          <!-- ./side demo panel -->
     
          <!-- Sidebar -->
              
     
          <!-- Page Content overlay -->
          
          
          <!-- Vendor JS -->
  